.rhinoAnimation 
{
    position: relative;
    animation: example 40s infinite;
}

@keyframes example {
    0%, 100% {
        right: -100px;
    }

    50% {
        right: 200px;
    }
}

.rotate{
    width: 150px;
    transform: rotate(-20deg);
 }
